@charset "UTF-8";
/* Elements css general */
@font-face {
  font-family: "Belligerent";
  src: url("../css/sass/Font/belligerent.ttf");
}
@font-face {
  font-family: "vanio";
  src: url("../css/sass/Font/Vanio-Regular.ttf");
}
@font-face {
  font-family: "vanioBold";
  src: url("../css/sass/Font/Vanio-Bold.ttf");
}
* {
  text-decoration: none;
}

body {
  padding: 0;
  background-color: #FCF6B1;
  max-width: 2500px;
  height: 100%;
}

p {
  color: #261624;
  font-family: "vanio";
  font-size: 1.2rem;
}

label {
  font-family: "vanio";
  font-size: 1.2rem;
}

a {
  color: #261624;
  font-family: "vanio";
  font-size: 1.1em;
}

.vaniobold {
  font-family: "vanioBold";
  color: #261624;
}

h1, h2, h3 {
  font-family: "vanioBold";
  color: #261624;
}

label {
  color: #261624;
  font-family: "vanio";
}

header {
  border-bottom: 2px #A26769 ridge;
  background-color: #f3e9f1;
  border-radius: 0 0 10px 10px;
  margin-bottom: 5px;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}
header nav .navigateur {
  display: flex;
  justify-content: space-around;
}
header nav .navigateur p {
  color: #261624;
  font-family: "vanio";
  margin: 0;
  font-size: 1.2em;
}
header nav .navigateur i {
  color: #261624;
  margin: 0 5px;
  font-size: 1.5em;
}

@media screen and (max-width: 420px) {
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 700px) {
  footer ul {
    flex-direction: column;
  }
  footer ul li {
    display: flex;
    justify-content: center;
  }
}
footer {
  background-color: #f3e9f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #A26769;
  border-radius: 5px;
  padding-bottom: 10px;
  margin-top: 10px;
  position: fixed;
  bottom: 0;
}
footer ul {
  padding: 5px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 5px;
}
footer ul li {
  list-style: none;
}
footer ul li a {
  font-family: "vanio";
  color: #261624;
  font-size: 1.2em;
}

.box-shadow {
  -webkit-box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 3px 20px 0px rgba(0, 0, 0, 0.5);
}

input {
  /* Firefox */
  -moz-appearance: textfield;
  /* Chrome */
  /* Opéra*/
}
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-o-inner-spin-button {
  -o-appearance: none;
  margin: 0;
}

@keyframes apparitionSign {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes removeSign {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(100%);
  }
}
#cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0;
  margin: 0 5px;
}
#cards li {
  list-style: none;
  margin-top: 15px;
  border: 2px #A26769 ridge;
  background-color: #f3e9f1;
  border-radius: 10px;
}

#blur {
  content: "";
  display: block;
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 1;
  z-index: 2;
  background-color: rgba(243, 233, 231, 0.5);
}

#confirmeSign {
  width: 50%;
  opacity: 1;
  border: solid 2px #A26769;
  border-radius: 5px;
  z-index: 3;
  background-color: #f3e9f1;
  padding: 5px;
  margin: auto;
  position: absolute;
  left: 25%;
  right: 25%;
}
#confirmeSign div {
  display: flex;
  justify-content: space-between;
}
#confirmeSign div #productReturn {
  cursor: pointer;
  border: none;
  background-color: #f3e9f1;
}
#confirmeSign div #productReturn:hover {
  border-bottom: solid 2px #261624;
  transition: 0.1s;
}
#confirmeSign div #productReturn:focus {
  outline: none;
}
#confirmeSign div a:hover {
  border-bottom: solid 2px #261624;
  transition: 0.1s;
}

@media screen and (max-width: 600px) {
  #confirmeSign {
    left: 10%;
    right: 10%;
    width: 80%;
  }
}
#produit {
  background-color: #f3e9f1;
  margin: 10px 0;
  display: flex;
  border: ridge 2px #A26769;
  justify-content: space-evenly;
  min-width: 300px;
}
#produit img {
  image-rendering: inherit;
  object-fit: cover;
}
#produit p {
  margin: 0;
  padding: 5px 0;
}
#produit .select {
  padding: 5px;
  width: 50%;
}
#produit button {
  font-family: "vanio";
  border: none;
  border-radius: 5px;
  background-color: #261624;
  color: #FFFF;
  width: 175px;
  height: 50px;
  margin: 10px 0;
  transition: all 200ms ease;
  font-size: 18px;
}
#produit button:hover {
  opacity: 0.8;
}
#produit input {
  width: 50%;
  height: 25px;
}

#panier {
  background-color: #f3e9f1;
  border: ridge 2px #A26769;
}
#panier .menuPanier {
  width: 100%;
  margin: 0;
}
#panier .menuPanier p {
  padding: 5px;
  margin-left: 40px;
}
#panier .cart_section {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 111px;
}
#panier ul {
  list-style: none;
  margin-bottom: 0px;
}
#panier .button {
  display: inline-block;
  background: #261624;
  border-radius: 5px;
  height: 48px;
  color: #f3e9f1;
  -webkit-transition: all 200ms ease;
  -moz-transition: all 200ms ease;
  -ms-transition: all 200ms ease;
  -o-transition: all 200ms ease;
  transition: all 200ms ease;
}
#panier .button a {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #f3e9f1;
  padding-left: 35px;
  padding-right: 35px;
}
#panier .button:hover {
  opacity: 0.8;
}
#panier .cart_title {
  font-size: 30px;
  font-weight: 500;
}
#panier .cart_items {
  margin-top: 8px;
}
#panier #cart_list {
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  padding: 0 25px;
}
#panier .legende {
  width: 80%;
}
#panier .cart_item {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
}
#panier .cart_item input {
  width: 50px;
}
#panier .cart_item_info {
  padding-top: 18px;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
#panier .cart_item_name {
  width: 150px;
}
#panier .cart_item_color {
  width: 150px;
}
#panier .cart_item_quantity input {
  height: 25px;
  width: 50px;
}
#panier .cart_item_price {
  width: 150px;
}
#panier .cart_item_image {
  width: 20%;
  margin: 0;
  min-width: 100px;
  padding: 5px;
}
#panier .cart_item_image img {
  max-width: 100%;
}
#panier .cart_item_title {
  font-size: 14px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
#panier .cart_item_text {
  font-size: 18px;
  margin-top: 20px;
}
#panier .cart_item_text input {
  width: 50px;
}
#panier .cart_item_text span {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 11px;
  -webkit-transform: translateY(4px);
  -moz-transform: translateY(4px);
  -ms-transform: translateY(4px);
  -o-transform: translateY(4px);
  transform: translateY(4px);
}
#panier .cart_item_price {
  text-align: right;
}
#panier .cart_item_total {
  text-align: right;
}
#panier .order_total {
  width: 100%;
  margin-top: 30px;
  border: solid 1px #e8e8e8;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  padding-right: 46px;
  padding-left: 15px;
  background-color: #fff;
  font-family: "vanio";
}
#panier .order_total button {
  background-color: #FFFF;
  border: none;
  cursor: pointer;
}
#panier .order_total_title {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 60px;
}
#panier .order_total_amount {
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  margin-left: 26px;
  line-height: 60px;
}
#panier .cart_buttons {
  margin-top: 60px;
  text-align: right;
}
#panier .cart_button_clear {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: rgba(0, 0, 0, 0.5);
  background: #FFFFFF;
  border: solid 1px #b2b2b2;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  margin-right: 26px;
}
#panier .cart_button_clear:hover {
  border-color: #261624;
  color: #261624;
}
#panier .cart_button_checkout {
  display: inline-block;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 48px;
  color: #FFFFFF;
  padding-left: 35px;
  padding-right: 35px;
  outline: none;
  cursor: pointer;
  vertical-align: top;
}

#confirmation {
  width: 400px;
  height: 500px;
}

/*# sourceMappingURL=style.css.map */
