/* Elements css general */
@import "../sass/utils.scss";


* {
    text-decoration: none;
}

#blur{
    content: '';
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2;
    background-color: rgba(243, 233, 231, 0.5)
}
input{
    
    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome */
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin:0;
    }

    /* Opéra*/
    &::-o-inner-spin-button {
        -o-appearance: none;
        margin: 0; 
    }
}

header{
    border: 2px $secondary--color solid;
    background-color: $primary--color;
    border-radius: 5px;
    min-width: 300px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul {
            display: flex;
            justify-content: space-evenly;
            margin: 0;
            li {
                list-style: none;
                margin: 5px;
                a{
                    color: $tertiary--color;
                    font-weight: 500;
                }

            }
        }

    }
}


#confirmeSign {
    animation: apparitionSign 1s ease forwards;
    opacity: 1;
    position: fixed;
    top : 50vh;
    left : 30vw;
    border: solid 2px $secondary--color;
    border-radius: 5px;
    z-index: 3;
    background-color: $primary--color;
    padding: 5px;
    margin: auto;
    div{
        display: flex;
        justify-content: space-between;
        #productReturn {
            cursor: pointer;
            border: none;
            background-color: $primary--color;
            
        }
        #productReturn:hover {
            border-bottom: solid 2px $tertiary--color;
            transition: 0.1s;
        }
        #productReturn:focus {
            outline: none;
        }
        a:hover {
            border-bottom: solid 2px $tertiary--color;
            transition: 0.1s;
        }
    }
}
#produit{
    background-color: $primary--color;
    margin: 10px 0;
    display: flex;
    border: solid 2px $secondary--color;
    justify-content: space-evenly;
    div {
        .description {
            text-align: justify;
        }
        img{
            object-fit: cover;
        }
        #lense {
            margin: 5px 0;
        }
        .inputButton {
            display: flex;
            justify-content: flex-end;
            input{
                width: 50px;
                margin: 0 5px;
            }
        }
    }
}

footer{
    background-color: $primary--color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid $secondary--color;
    border-radius: 5px;
    ul{
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        li{
            list-style: none;
            a{
                color: $tertiary--color;
            }
        }
    }
    .row{
        margin: auto;
    }
}