/* Elements css general */
@import "../sass/utils.scss";


// PAGE INDEX

#cards {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 5px;
    li {
        list-style: none;
        margin-top: 15px;
        border: 2px $secondary--color ridge;
        background-color: $primary--color;
        border-radius: 10px;
    }
}


// PAGE PRODUITS

#blur{
    content: '';
    display: block;
    position: fixed;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    z-index: 2;
    background-color: rgba(243, 233, 231, 0.5)
}


#confirmeSign {
    width: 50%;
    opacity: 1;
    border: solid 2px $secondary--color;
    border-radius: 5px;
    z-index: 3;
    background-color: $primary--color;
    padding: 5px;
    margin: auto;
    position: absolute;
    left: 25%;
    right: 25%;
    div{
        display: flex;
        justify-content: space-between;
        #productReturn {
            cursor: pointer;
            border: none;
            background-color: $primary--color;
            
        }
        #productReturn:hover {
            border-bottom: solid 2px $text--color;
            transition: 0.1s;
        }
        #productReturn:focus {
            outline: none;
        }
        a:hover {
            border-bottom: solid 2px $text--color;
            transition: 0.1s;
        }
    }
}

@media screen and (max-width: 600px) {
    #confirmeSign {
        left: 10%;
        right: 10%;
        width: 80%;
    }
}

#produit{
    background-color: $primary--color;
    margin: 10px 0;
    display: flex;
    border: ridge 2px $secondary--color;
    justify-content: space-evenly;
    min-width: 300px;
    img{
        image-rendering: inherit ;
        object-fit: cover;
    }
    p {
        margin: 0;
        padding: 5px 0;
    }
    .select{
        padding: 5px;
        width: 50%;
    }
    button{
        font-family: "vanio";
        border: none;
        border-radius: 5px;
        background-color: $text--color;
        color: #FFFF;
        width: 175px;
        height: 50px;
        margin: 10px 0;
        transition: all 200ms ease;
        font-size: 18px;
    }
    button:hover {
        opacity: 0.8
    }
    input {
        width: 50%;
    }

}

// PAGE PANIER 


#panier {
    background-color: $primary--color;
    border: ridge 2px $secondary--color;
    .menuPanier {
        width: 100%;
        margin: 0;
        p{
            padding: 5px;
            margin-left: 40px;
        }
    }
    .cart_section {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 111px
    }
    ul {
        list-style: none;
        margin-bottom: 0px
    }
    .button {
        display: inline-block;
        background: $text--color;
        border-radius: 5px;
        height: 48px;
        color: $primary--color;
        -webkit-transition: all 200ms ease;
        -moz-transition: all 200ms ease;
        -ms-transition: all 200ms ease;
        -o-transition: all 200ms ease;
        transition: all 200ms ease;
        a {
            display: block;
            font-size: 18px;
            font-weight: 400;
            line-height: 48px;
            color: $primary--color;
            padding-left: 35px;
            padding-right: 35px
        }
    }
    .button:hover {
        opacity: 0.8
    }
    .cart_title {
        font-size: 30px;
        font-weight: 500
    }
    .cart_items {
        margin-top: 8px
    }
    #cart_list {
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        background-color: #fff;
    }
    .cart_item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 15px;
        input{ 
            width: 50px; 
         }
        &_info {
            width: 80%;
            padding-top: 18px;
            display: flex;
            justify-content: space-evenly;
            flex-wrap: wrap;
        }
        &_name {
            width: 150px;
        }
        &_color {
            width: 150px;
        }
        &_quantity {
            input{
                height: 25px;
                width: 50px;
            }
        }
        &_price {
            width: 150px;
        }
        &_image {
            width: 20%;
            margin: 0;
            min-width: 100px;
            img {
                max-width: 100%;
            }

        }
        &_title {
            font-size: 14px;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.5);
        }
        &_text {
            font-size: 18px;
            margin-top: 20px;
            input{
                width: 50px;;
            }
            span {
                display: inline-block;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                margin-right: 11px;
                -webkit-transform: translateY(4px);
                -moz-transform: translateY(4px);
                -ms-transform: translateY(4px);
                -o-transform: translateY(4px);
                transform: translateY(4px);
            }
        }
        &_price {
            text-align: right;
        }
        &_total {
            text-align: right;
        }
    }
    .order_total {
        width: 100%;
        height: 60px;
        margin-top: 30px;
        border: solid 1px #e8e8e8;
        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
        padding-right: 46px;
        padding-left: 15px;
        background-color: #fff;
        &_title {
            display: inline-block;
            font-size: 14px;
            color: rgba(0, 0, 0, 0.5);
            line-height: 60px;
        }
        &_amount {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            margin-left: 26px;
            line-height: 60px;
        }
    }
    .cart_buttons {
        margin-top: 60px;
        text-align: right;
    } 
    .cart_button_clear {
        display: inline-block;
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: rgba(0, 0, 0, 0.5);
        background: #FFFFFF;
        border: solid 1px #b2b2b2;
        padding-left: 35px;
        padding-right: 35px;
        outline: none;
        cursor: pointer;
        margin-right: 26px;
    }
    .cart_button_clear:hover {
        border-color: $text--color;
        color: $text--color;
    }
    .cart_button_checkout {
        display: inline-block;
        border: none;
        font-size: 18px;
        font-weight: 400;
        line-height: 48px;
        color: #FFFFFF;
        padding-left: 35px;
        padding-right: 35px;
        outline: none;
        cursor: pointer;
        vertical-align: top;
    }
}


#confirmation {
    width: 400px;
    height: 500px;
}