// VARIABLE POUR CSS

$background--white: #ffff;
$primary--color:#f3e9f1;
$secondary--color: #A26769;
$text--color: rgb(38, 22, 36);


// CSS GENERALE

*{
    text-decoration: none;
}

body {
    padding: 0;
    background-color: #FCF6B1;
}

p{
    color: $text--color;
    font-family: "vanio";
}

h1, h2, h3 {
    font-family: "Belligerent";
    color: $text--color;
}

label{
    color: $text--color;
    font-family: "vanio";
}

header{
    border-bottom: 2px $secondary--color ridge;
    background-color: $primary--color;
    border-radius: 0 0 10px 10px;
    margin-bottom: 5px;
    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100px;
        .navigateur{
            display: flex;
            justify-content: space-around;
            p {
                color: $text--color;
                font-family: "vanio";
                margin: 0;
                font-size: 1.2em;
            }
            i {
                color: $text--color;
                margin: 0 5px;
                font-size: 1.5em;
            }
        }
    }
}

footer{
    background-color: $primary--color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 2px solid $secondary--color;
    border-radius: 5px;
    padding-bottom: 10px;
    margin-top: 10px;
    ul{
        padding: 5px;
        display: flex;
        justify-content: space-evenly;
        margin-top: 5px;
        li{
            list-style: none;
            a{
                font-family: "vanio";
                color: $text--color;
                font-size: 1.2em

            }
        }
    }
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.50); 
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.50);
}

input{
    /* Firefox */
    -moz-appearance: textfield;

    /* Chrome */
    &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin:0;
    }

    /* Opéra*/
    &::-o-inner-spin-button {
        -o-appearance: none;
        margin: 0; 
    }
}

//FONT 

@font-face {
    font-family: 'Belligerent';
    src: url("../css/sass/Font/belligerent.ttf");
}
@font-face {
    font-family: 'vanio';
    src: url("../css/sass/Font/Vanio-Regular.ttf");
}

// KEYFRAME 

@keyframes apparitionSign {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes removeSign {
    0% {

        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

