//FONT 

@font-face {
    font-family: 'Belligerent';
    src: url("../css/sass/Font/belligerent.ttf");
}
@font-face {
    font-family: 'vanio';
    src: url("../css/sass/Font/Vanio-Regular.ttf");
}



// VARIABLE POUR CSS

$background--white: #ffff;
$primary--color:#f3e9f1;
$secondary--color: #A26769;
$tertiary--color: #6D2E46;

// KEYFRAME 

@keyframes apparitionSign {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes removeSign {
    0% {

        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

.box-shadow {
    -webkit-box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.50); 
    box-shadow: 3px 3px 20px 0px rgba(0,0,0,0.50);
}